<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>before approval</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <style></style>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
        <img src="" alt="" srcset="" />
      </div>
    </nav>

    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Before Approval
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Approved
          </button>
          <button
            class="nav-link"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
            Project Awarded
          </button>
          <button
            class="nav-link"
            id="nav-disabled-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-disabled"
            type="button"
            role="tab"
            aria-controls="nav-disabled"
            aria-selected="false"
          >
            Project Completion
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active form-1"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
          tabindex="0"
        >
        <form id="contact-form" action="" method="">
          <div>
            <!-- <div class="row">
              <div class="col-4">
                <label for="project_id">project ID : </label>
                <input
                  type="text"
                  placeholder="Enter Project ID"
                  name="Project ID"
                  required
                />
                <label for="p_title">project Title : </label>
                <input
                  type="text"
                  placeholder="Enter Project Title"
                  name="Project Title"
                  required
                />
                <label for="p_tenure">Project Tenure</label>
                <input
                  type="text"
                  placeholder="Enter tenure(months)"
                  required
                />
              </div>
              <div class="col-4"></div>
              <div class="col-4"></div>
            </div> -->
            <div class="row">
              <div class="col">
                <div class="form-group"><label for="project_id">project ID  </label>
                  <input
                    type="text"
                    placeholder="Enter Project ID"
                    name="Project ID"
                    required
                  /><br /></div>
                
              </div>
              <div class="col">
                <label for="p_title">project Title </label>
                <input
                  type="text"
                  placeholder="Enter Project Title"
                  name="Project Title"
                  required
                /><br />
              </div>
              <div class="col">
                <label for="p_tenure">Project Tenure</label>
                <input
                  type="text"
                  placeholder="Enter tenure(months)"
                  required
                /><br />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="capex">Capex</label>
                <input
                  type="text"
                  placeholder="Enter Capex Amount"
                  required
                /><br />
              </div>
              <div class="col">
                <label for="opex">Opex  </label>
                <input
                  type="text"
                  placeholder="Enter Opex Amount"
                  name="Budget ID"
                  required
                /><br />
              </div>
              <div class="col">
                <label for="pm_dept_id">project Manager Department ID</label>
                <input
                  type="text"
                  placeholder="Enter Project Project Manager Department ID"
                  name="Project manager Department ID"
                  required
                /><br />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="dept_id">Department ID </label>
                <input
                  type="text"
                  placeholder="Enter Department ID"
                  name="Department ID"
                  required
                /><br />
              </div>
              <div class="col">
                <label for="pm_id">project Manager ID </label>
                <input
                  type="text"
                  placeholder="Enter Project Manager ID"
                  name="Project manager ID"
                  required
                /><br />
              </div>
              <div class="col"></div>
            </div>

          <center>
            <button class="btn" type="submit">submit</button><br />
          </center> 
          </div>
          </form>

        </div>
        <div
          class="tab-pane fade form-2"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
          tabindex="0"
        >
        <form id="contact-form" action="" method="">
          <div>
       <div class="row">
            <div class="col">
              <label for="budgetory_id">Budgetory ID  </label>
              <input
                type="text"
                placeholder="Enter Budgetory ID"
                name="Budgetory ID"
                required
              /><br />
            </div>
            <div class="col">
              <label for="capex">Capex</label>
              <input
                type="text"
                placeholder="Enter Capex Amount"
                required
              /><br />
            </div>
            <div class="col">
              <label for="opex">Opex  </label>
              <input
                type="text"
                placeholder="Enter Opex Amount"
                name="Budget ID"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="doa">Date of Approval</label>
              <input type="date" id="doa" name="doa" required /><br />
            </div>
            <div class="col">
              <label for="budget_id">Budget ID</label>
              <input
                type="text"
                placeholder="Enter Budget ID"
                name="Budget ID"
                required
              /><br />
            </div>
            <div class="col">
              <label for="FY_id">FY ID  </label>
              <input
                type="text"
                placeholder="Enter FY ID"
                name="FY ID"
                required
              /><br />
            </div>
          </div>

          <div>
            <center>
              <button class="btn" type="submit">submit</button><br />
            </center>
           </div>
    
          </div>
       </div>
        <div
          class="tab-pane fade form-3"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="col">
              <label for="budgetory_id">Budgetory ID </label>
              <input
                type="text"
                placeholder="Enter Budgetory ID"
                name="Budgetory ID"
                required
              /><br />
            </div>
            <div class="col">
              <label for="capex">Capex</label>
              <input
                type="text"
                placeholder="Enter Capex Amount"
                required
              /><br />
            </div>
            <div class="col">
              <label for="opex">Opex </label>
              <input
                type="text"
                placeholder="Enter Opex Amount"
                name="Budget ID"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="doa">Date of Award</label>
              <input type="date" id="doaw" name="doaw" required /><br />
            </div>
            <div class="col">
              <label for="doc">Date of Completion</label>
              <input type="date" id="doc" name="doc" required /><br />
            </div>
            <div class="col">
              <label for="supplier_id">supplier ID  </label>
              <input
                type="text"
                placeholder="Enter supplier ID"
                name="Supplier ID"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="s_name">Supplier Name </label>
              <input
                type="text"
                placeholder="Enter Supplier Name"
                name="s_name"
                required
              /><br />
            </div>
            <div class="col">
              <label for="c_name">Company Name  </label>
              <input
                type="text"
                placeholder="Enter Company Name"
                name="c_name"
                required
              /><br />
            </div>
            <div class="col">
              <label for="budget_id">Budget ID  </label>
              <input
                type="text"
                placeholder="Enter Budget ID"
                name="Budget ID"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="doe">Date of Extension</label>
              <input
                type="date"
                id="doe"
                placeholder="Enter Date of Extension"
                name="doe"
                required
              /><br />
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
<center>
  <button class="btn" type="submit">submit</button><br />

</center>
        </div>
        <div
          class="tab-pane fade form-4"
          id="nav-disabled"
          role="tabpanel"
          aria-labelledby="nav-disabled-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="col">
              <label for="budgetory_id">Budgetory ID  </label>
              <input
                type="text"
                placeholder="Enter Budgetory ID"
                name="Budgetory ID"
                required
              /><br />
            </div>
            <div class="col">
              <label for="capex">Capex</label>
              <input
                type="text"
                placeholder="Enter Capex Amount"
                required
              /><br />
            </div>
            <div class="col">
              <label for="opex">Opex</label>
              <input
                type="text"
                placeholder="Enter Opex Amount"
                name="Budget ID"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="doe">Date of Expenditure</label>
              <input
                type="date"
                id="doex"
                placeholder="Enter Date of Expenditure"
                name="doex"
                required
              /><br />
            </div>
            <div class="col">
              <label for="budget_id">Budget ID</label>
              <input
                type="text"
                placeholder="Enter Budget ID"
                name="Budget ID"
                required
              /><br />
            </div>
            <div class="col">
              <label for="deduction">Deduction</label>
              <input
                type="text"
                placeholder="Enter Deduction Amount"
                required
              /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="withheld">With Held</label>
              <input type="text" placeholder="Enter  withheld" required /><br />
            </div>
            <div class="col">
              <label for="utilized">utilized</label>
              <input
                type="text"
                placeholder="Enter utilized Amount"
                required
              /><br />
            </div>
            <div class="col">
              <label for="supplier_id">supplier ID</label>
              <input
                type="text"
                placeholder="Enter supplier ID"
                name="Supplier ID"
                required
              /><br />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="gst_no">GST No.</label>
              <input
                type="text"
                placeholder="Enter GST No."
                name="GST No."
                required
              /><br />
            </div>
            <div class="col">
              <label for="transaction">Transaction </label>
              <input
                type="text"
                placeholder="Enter Transaction"
                name="transaction"
                required
              /><br />
            </div>
            <div class="col"></div>
          </div>
<center>
  <button class="btn" type="submit">submit</button><br />

</center>
        </div>
      </div>
    </div>

    <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Before Approval</a>

         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Approved</a>

      
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRoject Awarded</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Project Completion</a>
        </li>
      </ul> -->

    <!-- <center><h1> From</h1></center>
        <form action="#" method="post">
            {% csrf_token %}
            <center><div class="container">
              <center><h1>Before Approval</h1></center> 
                <center><h3>project</h3></center>

                
                <label for='project_id'>project ID : </label>
		        <input type='text' placeholder="Enter Project ID" name='Project ID' required><br>
                <label for='p_title'>project Title : </label>
		        <input type='text' placeholder="Enter Project Title" name='Project Title' required><br>
		        <label for='p_tenure'>Project Tenure</label>
		        <input type='text' placeholder='Enter tenure(months)' required><br>
               
                <center><h3>project Manager</h3></center>

                <label for='pm_dept_id'>project Manager Department ID : </label>
		        <input type='text' placeholder="Enter Project Project Manager Department ID" name='Project manager Department ID' required><br>
		        <label for='dept_id'>Department ID : </label>
		        <input type='text' placeholder="Enter Department ID" name='Department ID' required><br>
                <label for='dept_name'>Department Name : </label>
		        <input type='text' placeholder="Enter Department Name" name='Department Name' required><br>
              

                <label for='l_id'>Location ID : </label>
		        <input type='text' placeholder="Enter Location ID" name='Supplier ID' required><br>
               
                <label for='l_name'>Location : </label>
		        <input type='text' placeholder="Enter Location" name='l_name' required><br>
              


                <label for='pm_id'>project Manager ID : </label>
		        <input type='text' placeholder="Enter Project Manager mail" name='Project manager ID' required><br>
                <label for='pm_mail'>project Manager MAil : </label>
		        <input type='text' placeholder="Enter Project Manager mail" name='Project manager mail' required><br>
                <label for='pm_name'>project Manager NAme : </label>
		        <input type='text' placeholder="Enter Project Manager NAme" name='Project manager NAme' required><br>
              


                <center><h3>Budgetory quote</h3></center>

		        <label for='capex'>Capex</label>
		        <input type='text' placeholder='Enter Capex Amount' required><br>
                <label for='opex'>Opex : </label>
		        <input type='text' placeholder="Enter Opex Amount" name='Budget ID' required><br>
		    
                <center><h1> Approved (AA&ES,PROJECT BUDGDT, PROJECT FUND CENTER)</h1></center> 

 
                <label for='budgetory_id'>Budgetory ID : </label>
		        <input type='text' placeholder="Enter Budgetory ID" name='Budgetory ID' required><br>
                <label for='capex'>Capex</label>
		        <input type='text' placeholder='Enter Capex Amount' required><br>
                <label for='opex'>Opex : </label>
		        <input type='text' placeholder="Enter Opex Amount" name='Budget ID' required><br>
                <label for="doa">Date of Approval:</label>
                <input type="date" id="doa" name="doa"required><br>
                <label for='FY_id'>FY ID : </label>
		        <input type='text' placeholder="Enter FY ID" name='FY ID' required><br>
                <label for='FC_id'>FC ID : </label>
		        <input type='text' placeholder="Enter FC ID" name='FC ID' required><br>
             

                <center><h1> actual expenditure</h1></center> 

 
                 <label for='capex'>Capex</label>
		        <input type='text' placeholder='Enter Capex Amount' required><br>
                <label for='opex'>Opex : </label>
		        <input type='text' placeholder="Enter Opex Amount" name='Budget ID' required><br>
                <label for="doa">Date of Expenditure:</label>
                <input type="date" id="doe" name="doe"required><br>

                <center><h1> actual expenditure</h1></center> 

                <label for="doa">Date of Award:</label>
                <input type="date" id="doaw" name="doaw"required><br>
                <label for='capex'>Capex</label>
		        <input type='text' placeholder='Enter Capex Amount' required><br>
                <label for='opex'>Opex : </label>
		        <input type='text' placeholder="Enter Opex Amount" name='Budget ID' required><br>
                <label for="doc">Date of Completion:</label>
                <input type="date" id="doc" name="doc"required><br>
       
                <center><h1> actual expenditure</h1></center> 
               

                <label for='deduction'>Deduction</label>
		        <input type='text' placeholder='Enter Deduction Amount' required><br>
                <label for='withheld'>With Held</label>
		        <input type='text' placeholder='Enter  withheld' required><br>
                <label for='utilized'>utilized</label>
		        <input type='text' placeholder='Enter utilized Amount' required><br>
                
                <center><h1> actual expenditure</h1></center> 
                <label for='supplier_id'>supplier ID : </label>
		        <input type='text' placeholder="Enter supplier ID" name='Supplier ID' required><br>
               
                <label for='s_name'>Supplier Name : </label>
		        <input type='text' placeholder="Enter Supplier Name" name='s_name' required><br>
              
                <label for='c_name'>Company Name : </label>
		        <input type='text' placeholder="Enter Company Name" name='c_name' required><br>
              
               

                <label for='gst_no'>GST No. : </label>
		        <input type='text' placeholder="Enter GST No." name='GST No.' required><br>
                <label for='transaction'>Transaction : </label>
		        <input type='text' placeholder="Enter Transaction" name='transaction' required><br>
             
                

            	<button type="submit">submit</button><br>     

            </div></center>
        </form> -->
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>
</html>
